body{
    background-image: url(quimicos1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;

}
div.logout{
    text-align: right;
    align-items: right;
}
a{
   text-decoration: none;
   color: orchid; 
}

button.logout{
    background-color: beige;
}
button.logout:hover{
background-color: azure;
}
div.registro{
    text-align: center;
}
h1{
    color: rgb(50, 50, 156);
}

label{
    color: rgb(79, 253, 11);
    
}
div.registro{
    text-align: left;
}
h1{
    text-align: center;
    margin-right: 50px;
}
input[type="submit"]{
    margin-top: 20px;
margin-left: 25px;
}
input[type="number"]{
    width: 50px;
}