body{
    width: 100%;
    background-color: azure;
}
table{
    width: 100%;
}
th{
    border-bottom: 2px solid #000;
    background-color: lightseagreen;
}
td:hover{
    background-color: antiquewhite;
}

