body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    margin: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
table{
    width: 100%;
}
td,tr{
    border-radius: 2px solid;
    border: #0056b3 solid 3px;
    text-align: center;
}
th{
    text-align: center;
    border: #007BFF solid 5px;
}