body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

h3 {
    color: #666;
}


form {
    text-align: center;
}

form label {
    font-size: 18px;
    color: #333;
}

form input[type="text"] {
    width: 250px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    padding: 5px 15px;
    font-size: 16px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #d4d4d4;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
